<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add New Student</title>
  </head>
  <body>
    <form action="/students/insert" method="post">
      <label for="id">ID:</label>
      <input type="number" id="id" name="id" />
      <br />
      <label for="name">Name:</label>
      <input type="text" name="name" id="name" />
      <br />
      <label for="age">Age:</label>
      <input type="number" name="age" id="age" />
      <br />
      <label for="merit">Merit:</label>
      <input type="number" name="merit" id="merit" />
      <br />
      <label for="other">Other:</label>
      <input type="number" name="other" id="other" />
      <br />
      <button>Submit</button>
    </form>
  </body>
</html>
